doctype html
head
  block head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    link(rel='stylesheet' href='/css/style.css')
    title Natours | #{title}

body 
    // HEADER
    include ./includes/_header
   

    // CONTENT
    block content 
     

    // FOOTER
    include ./includes/_footer
      
      
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js") 
    //-script(src='/js/login.js')
    //-script(src='/js/mapbox.js')

    script(src="/js/bundle.js")